#minus {

    font-weight: xx-large;

    width: 70px;
    padding: 1px 25px 1px 25px;
    background-color: aqua;
    margin-left: -18px;
    margin-top: 30px;
}

#u {
    color: azure;
    font-size: 60px;
    font-weight: 700;
    margin-top: -15px;
}

#Trending {
    /* background-color: rgba(240, 248, 255, 0.493); */
    margin-top: -20px;
    color: azure;
    font-weight: 600;
}

#softs {
    color: azure;
    font-weight: 400;
}

#uts {
    text-align: justify;
    margin-left: 50px;
    margin-top: 0px;
}

#utsmain {
    background-color: rgba(14, 14, 14, 0.493);
    padding: 45px;
}

/* languages programming */
.lang {
    color: aliceblue;
    font-weight: 500;
    /* padding: 50px; */
}

#lang {
    /* background-color: rgba(111, 114, 117, 0.429); */
    background-color: rgba(126, 125, 125, 0.623);

}

ul {
    padding: 20px;
    padding-right: 50px;
    direction: rtl;
    list-style-type: square;
    font-weight: 700;
    text-align: right;
}

#list {
    font-size: xx-large;
}

/* address phone and mail */
#add {
    background-color: rgba(111, 114, 117, 0.429);
   
    /* background-color: rgba(126, 125, 125, 0.623); */
    color: azure;
    text-align: right;
}

.address {
    font-size: large;
    font-weight: 900;
}

#addresspor {
    padding: 30px;
}

/* Learn programmming */
#learnp {
    /* margin-bottom: 0px; */
    background-color: rgba(255, 225, 0, 0.715);
}

#learnp2 {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#learn {
    font-size: 60px;
    font-weight: 700;
    color: white;
}

#pro {
    margin-top: 10px;
    color: white;
    font-size: xx-large;
    font-weight: 500;
}

/* backgrUND image */
#bg {
    position: absolute;
    height: 550px;
    width: 1110px;
}

/* First start it with us */
#Firstfull {
    padding: 20px 0px 20px 70px;
    text-align: left;
    background-color: white;
}

#first {
    color: rgba(255, 0, 0, 0.829);
    font-weight: 900;
    font-size: 60px;
}

#start {
    font-size: xx-large;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61);
}

#mon {
    color: rgba(0, 0, 0, 0.61);
    font-weight: 500;
    font-size: larger;
}



/* coded logo of the company */
#logo {
    height: 100px;
    width: 100px;
}
        /* right coded logo section start */
#coded {
    margin-top: 40px;
    font-size: xx-large;
    font-weight: 600;
}

#codedfull {
    padding: 30px;
}

#lotc {
    margin-left: 80px;
    font-size: large;
    margin-top: -18px;
    font-weight: 500;
}

#logofull {
    color: azure;
    /* display:flex; */
    background-color: rgb(0, 217, 255);
}

/* Last section start */
/* left portion */
#lastleft{
    padding: 80px;
    background-color: rgba(169, 169, 169, 0.233);
}
footer {
    padding: 7px;
    background-color:brown;
}
#lorem{
    text-align: justify;
    color: rgb(94, 88, 88);
    /* color: antiquewhite; */
    font-weight: 500;
    font-size:x-large ;
    margin-top: -30px ;
    padding-bottom:0px;
}

#ourcompany {
    font-size: x-large;
    font-weight: bold;
    color:brown;
   
    /* color: brown; */
}
#perag{
    text-align: justify;
    font-size: xx-large;
    font-weight:800;
    color: rgb(122, 122, 122);

}
#co{

    font-size:large;
    margin-top: 30px;
    color: rgb(94, 88, 88);

}

#lastcoded {
    color: rgb(94, 88, 88);
    font-size: xxx-large;
    font-weight:900;
    margin-left: 20px;
}
        /* right side */

#second{
    font-size: 60px;
    font-weight: 800;
  /* margin-top: 35px; */
    display: flex-end;
    /* text-align: left; */
    color: rgb(0, 229, 255);
}
#fullleft{
    padding: 40px;
}
#endit{
    font-size: xx-large;
    margin-top: -50px;
    font-weight: 500;
    color: rgb(94, 88, 88);
    text-align: center;


}
#leftb{
    background-color: white;

}
#earn{
    text-align: right;
    font-size: 34px;
    color: rgb(94, 88, 88);
    
    font-weight: bolder;
}
#rightp{
    text-align:justify;
}
#lastpp{
    text-align: right;
}